<script>
	import '@skeletonlabs/skeleton/themes/theme-skeleton.css';
	import '@skeletonlabs/skeleton/styles/all.css';
	import '../app.postcss';
	import { AppShell, AppBar } from '@skeletonlabs/skeleton';

	console.log( import.meta.env.MY_BACKEND_URL);
</script>

<!-- App Shell -->
<AppShell>
	<svelte:fragment slot="header">
		<!-- App Bar -->
		<AppBar>
			<svelte:fragment slot="lead">
				<strong class="text-xl uppercase">Pocketbone</strong>
			</svelte:fragment>
			<svelte:fragment slot="trail">
				<a
					class="btn btn-sm variant-ghost-surface"
					href="https://pocketbase.io/docs/"
					target="_blank"
					rel="noreferrer"
				>
					Pocketbase
				</a>
				<a
					class="btn btn-sm variant-ghost-surface"
					href="https://www.skeleton.dev/docs/features"
					target="_blank"
					rel="noreferrer"
				>
					Skeleton
				</a>
				<a
					class="btn btn-sm bg-secondary-500"
					href="{ import.meta.env.MY_POCKETBASE_URL }_"
					target="_blank"
					rel="noreferrer"
				>
					Backend
				</a>
			</svelte:fragment>
		</AppBar>
	</svelte:fragment>
	<!-- Page Route Content -->
	<slot />
</AppShell>
